sandbox/docker/opencode/node/*
!sandbox/docker/opencode/node/.config/
sandbox/docker/opencode/node/.config/*
!sandbox/docker/opencode/node/.config/opencode/
sandbox/docker/opencode/node/.config/opencode/*
!sandbox/docker/opencode/node/.config/opencode/AGENTS.md
!sandbox/docker/opencode/node/.config/opencode/skills/
!sandbox/docker/opencode/node/.config/opencode/skills/**
claudecode/node
audio
