opencode/node/*
!opencode/node/.config/
opencode/node/.config/*
!opencode/node/.config/opencode/
opencode/node/.config/opencode/*
!opencode/node/.config/opencode/AGENTS.md
!opencode/node/.config/opencode/skills/
!opencode/node/.config/opencode/skills/**
claudecode/node
audio
